* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

section {
    display: block;
}

article {
    padding: 50px;
    display: grid;
    place-content: center;
    transform: translate(-28px, 213px);
}

.contain-main_info {
    background-color: var(--background-body);
    color: var(--principal-txt-c);
    padding: 50px;
    display: grid;
    place-content: center;
}

.contain_table {
    display: block;
}

.fixh2 {
    text-align: center;
    position: absolute;
    bottom: 18rem;
    left: 21rem;
}

table {
    position: absolute;
    right: 21rem;
    top: 26rem;
    width: 55%;
    border-collapse: collapse;
}

caption {
    text-align: start;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

th,
td {
    background-color: yellow;
    font-size: 15px;
    border: 1px solid #050202;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(80 92 225);
}
.normal-text {
    font-weight: normal;

}

.spaced-span {
    margin-left: 18px;

}

footer {
    color: #000000;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    bottom: 0;
    width: 99%;
    transform: translate(10px, 220px);
}