* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

section {
    display: block;
}

article {
    padding: 50px;
    display: grid;
    place-content: center;
    transform: translate(-28px, 213px);
    
}


.contain-main_info {
    background-color: var(--background-body);
    color: var(--principal-txt-c);
    padding: 50px;
    display: grid;
    place-content: center;
}


.fixh2 {
    position: absolute;
    transform: translate(322px, -20px);
}

table {
    box-shadow: -2px 0px 10px 5px rgba(0,0,0,0.75);
    position: absolute;
    right: 21rem;
    top: 26rem;
    width: 55%;
    border-collapse: collapse;
    
}

tbody tr:nth-child(2n) {
    background-color: var(--header-secondary);
    color: var(--txt-fot);
}

caption {
    text-align: start;
    margin-bottom: 1rem;
    margin-top: -1rem;
}


.modTable tbody td:hover{
    display: flexbox;
    background-color: #000000;
    color: rgb(248, 247, 247);
    border: collapse;
    border: 1px solid #ddd;
    padding: 8px;    
    
}

th,
td{
    background-color: yellow;
    font-size: 15px;
    border: 2px solid #050202;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(80 92 225);
}

.normal-text {
    font-weight: normal;

}

.spaced-span {
    margin-left: 18px;

}

footer {
    color: #000000;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    bottom: 0;
    width: 99%;
    transform: translate(10px, 290px);
}