* { background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,body{
    background-color: white;
}
form {
    background-color: white;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


fieldset {
    background-color: rgb(255, 52, 52);
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #d9c42c;
    box-shadow: 6px 6px 25px 15.7px;
    
}

.fielOne {
    background-color: white;
    width: 60%;
    height: 9rem;
    padding: 1rem;
    margin: 2rem;
}

.sin-marcador {
    list-style-type: none;
}

.fielTwo {
    background-color: white;
    display: flex;
    width: 60%;
    height: 14rem;
    padding: 1rem;
    margin: 2rem;
    justify-content: space-around;
}

.fielThree {
    background-color: white;
    width: 60%;
    height: 9rem;
    padding: 1rem;
    margin: 2rem;
}

.fielFour {
    background-color: white;
    width: 60%;
    height: 10rem;
    padding: 1rem;
    margin: 2rem;
}

.fielFour2 {
    background-color: white;
    margin-right: 46rem;
    transform: translate(160px, -71px);
}

.fielFive {background-color: white;
    width: 60%;
    padding: 1rem;
    margin: 2rem;
}

legend{
    background-color: #d9c42c;
    border-radius: 4px;
    box-shadow: 5px 5px 10px aqua;
}